@page "/client"
@inherits TgPageComponentEnumerable<TgEfAppEntity>

<PageTitle>@TgLocale.MenuMainApps</PageTitle>

@if (IsBlazorLoading)
{
    <p><em>Loading...</em></p>
}
else
{
	<RadzenStack>
		@* First row *@
		<RadzenRow AlignItems="AlignItems.Center">
			<RadzenButton class="rz-border-radius-4" Variant="Variant.Flat" Shade="Shade.Light" ButtonStyle="ButtonStyle.Primary"
						  Disabled="true"
			              Click=@(args => ClientConnect()) Text=@TgLocale.MenuClientConnect />
			<RadzenButton class="rz-border-radius-4" Variant="Variant.Flat" Shade="Shade.Light" ButtonStyle="ButtonStyle.Primary"
			              Disabled="true"
						  Click=@(args => ClientDisconnect()) Text=@TgLocale.MenuClientDisconnect />
		</RadzenRow>

		<RadzenRow AlignItems="AlignItems.Center">
			<RadzenColumn Size="4" SizeMD="4">
				<RadzenRow>
					<RadzenText Text=@TgLocale.FileSession TextStyle="TextStyle.Body1" TextAlign="TextAlign.Justify" Style="margin-top: 10px; " />
					<RadzenCheckBox Value=@AppSettings.AppXml.IsExistsFileSession Disabled="true" Style="margin-top: 10px; "/>
					<RadzenTextBox @bind-Value=@AppSettings.AppXml.FileSession Disabled="true" TextAlign="TextAlign.Justify" Style="width: 65%; " />
				</RadzenRow>
			</RadzenColumn>
			<RadzenColumn Size="2" SizeMD="2">
				<RadzenButton class="rz-border-radius-4" Variant="Variant.Flat" Shade="Shade.Light" ButtonStyle="ButtonStyle.Primary"
				              Click=@(args => OnClientLoad()) Text=@TgLocale.Load
							  Style="width: 100%; " />
			</RadzenColumn>
			<RadzenColumn Size="2" SizeMD="2">
				<RadzenButton class="rz-border-radius-4" Variant="Variant.Flat" Shade="Shade.Light" ButtonStyle="ButtonStyle.Primary"
				              Disabled="true"
				              Click=@(args => OnClientSave(true)) Text=@TgLocale.Save
							  Style="width: 100%; " />
			</RadzenColumn>
			<RadzenColumn Size="2" SizeMD="2">
				<RadzenButton class="rz-border-radius-4" Variant="Variant.Flat" Shade="Shade.Light" ButtonStyle="ButtonStyle.Primary"
				              Click=@(args => OnClientClear()) Text=@TgLocale.Clear
							  Style="width: 100%; " />
			</RadzenColumn>
			<RadzenColumn Size="2" SizeMD="2">
				<RadzenButton class="rz-border-radius-4" Variant="Variant.Flat" Shade="Shade.Light" ButtonStyle="ButtonStyle.Primary"
				              Disabled="true"
				              Click=@(args => OnClientEmpty()) Text=@TgLocale.Empty
							  Style="width: 100%; " />
			</RadzenColumn>
			@* 
		    <RadzenColumn Size="12" SizeMD="6">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                    <RadzenSplitButton Icon="get_app" Text="Export" Click="@ExportClick" Variant="Variant.Flat" Shade="Shade.Lighter">
                        <RadzenSplitButtonItem Text="Excel" Value="xlsx" />
                        <RadzenSplitButtonItem Text="CSV" Value="csv" />
                    </RadzenSplitButton>
                    <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
                </RadzenStack> 
		    </RadzenColumn>
        *@
		</RadzenRow>

		<RadzenRow>
			@* <RadzenLabel Text="@ItemsSummaryString"></RadzenLabel> *@
		</RadzenRow>

		@* <RadzenTextBox Placeholder="Search ..." Style="display: block; width: 100%" @oninput="@SearchString" /> *@
		@* 
            
	            <RadzenDataGrid @ref="Grid" ColumnWidth="200px"
                    Data="@Items" TItem="TgEfAppEntity" LoadData="@GridLoadData" Count="@ItemsCount" 
					AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true"
                    ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                    RowDoubleClick="@EditRow"
		>
		*@

		@*
		<RadzenRow>
			<RadzenColumn SizeMD=12>
				<RadzenDataGrid @ref="Grid" ColumnWidth="200px"
				                Data="@Items" TItem="TgEfAppEntity" LoadData="@GridLoadData" Count="@ItemsCount">
					<Columns>
						<RadzenDataGridColumn TItem="TgEfAppEntity" Property=@nameof(TgEfAppEntity.ApiHash) Title=@TgLocale.MenuClientApiHash/>
						<RadzenDataGridColumn TItem="TgEfAppEntity" Property=@nameof(TgEfAppEntity.ApiId) Title=@TgLocale.MenuClientApiId/>
						<RadzenDataGridColumn TItem="TgEfAppEntity" Property=@nameof(TgEfAppEntity.PhoneNumber) Title=@TgLocale.MenuClientPhoneNumber/>
						<RadzenDataGridColumn TItem="TgEfAppEntity" Property="Proxy.HostName" Title=@TgLocale.MenuClientProxy/>
						//  <RadzenDataGridColumn TItem="TgEfAppEntity" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                        //     <Template Context="app">
                        //         <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                        //                       Shade="Shade.Lighter" Variant="Variant.Flat"
                        //                       Click=@(args => GridDeleteButtonClick(args, app)) @onclick:stopPropagation="true" />
                        //     </Template>
                        // </RadzenDataGridColumn>
					</Columns>
				</RadzenDataGrid>
			</RadzenColumn>
		</RadzenRow>
		*@

		<RadzenRow>
			<RadzenColumn Size="4" SizeMD="4">
				<RadzenText Text=@TgLocale.MenuClientApiHash TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center" Style="margin-top: 10px; " />
				<RadzenText Text=@TgLocale.MenuClientApiId TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center" Style="margin-top: 10px; " />
				<RadzenText Text=@TgLocale.MenuClientPhoneNumber TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center" Style="margin-top: 10px; " />
				<RadzenText Text=@TgLocale.MenuClientProxy TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center" Style="margin-top: 10px; " />
				<RadzenText Text=@TgLocale.MenuClientPassword TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center" Style="margin-top: 10px; " />
				<RadzenText Text=@TgLocale.MenuClientVerificationCode TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center" Style="margin-top: 10px; " />
				<RadzenText Text=@TgLocale.MenuClientFirstName TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center" Style="margin-top: 10px; " />
				<RadzenText Text=@TgLocale.MenuClientLastName TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center" Style="margin-top: 10px; " />
				<RadzenText Text=@TgLocale.ServerMessage TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center" Style="margin-top: 10px; " />
			</RadzenColumn>
			<RadzenColumn Size="8" SizeMD="8">
				@if (Item is null)
				{
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
				}
				else
				{
					<RadzenTextBox @bind-Value=@Item.ApiHashString TextAlign="TextAlign.Justify" Style="width: 100%; "/>
					<RadzenTextBox @bind-Value=@Item.ApiIdString TextAlign="TextAlign.Justify" Style="width: 100%; " />
					<RadzenTextBox @bind-Value=@Item.PhoneNumber TextAlign="TextAlign.Justify" Style="width: 100%; " />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
					<RadzenTextBox Value="" TextAlign="TextAlign.Justify" Style="width: 100%; " Disabled="true" />
				}
			</RadzenColumn>
		</RadzenRow>
	</RadzenStack>
}