@page "/apps"
@inject IDbContextFactory<TgEfContext> DbFactory
@inherits TgPageComponent

<PageTitle>@TgLocale.MenuMainApps</PageTitle>

<h1>@TgLocale.MenuMainApps</h1>

@if (!Items.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@TgLocale.MenuClientApiHash</th>
                <th>@TgLocale.MenuClientApiId</th>
                <th>@TgLocale.MenuClientPhoneNumber</th>
                <th>@TgLocale.MenuClientProxy</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>@item.ApiHash</td>
                    <td>@item.ApiId</td>
                    <td>@item.PhoneNumber</td>
                    @* <td>@app.Proxy.ToDebugString()</td> *@
                </tr>
            }
        </tbody>
    </table>
}
