@page "/proxies"
@inject IDbContextFactory<TgEfContext> DbFactory
@inherits TgPageComponent

<PageTitle>@TgLocale.MenuMainProxies</PageTitle>

<h1>@TgLocale.MenuMainProxies</h1>

@if (!Items.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@TgLocale.FieldType</th>
                <th>@TgLocale.FieldHostname</th>
                <th>@TgLocale.FieldPort</th>
                <th>@TgLocale.FieldUserName</th>
                <th>@TgLocale.ProxiesUserPassword</th>
                <th>@TgLocale.ProxiesUserSecret</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>@item.Type</td>
                    <td>@item.HostName</td>
                    <td>@item.Port</td>
                    <td>@item.UserName</td>
                    <td>@item.Password</td>
                    <td>@item.Secret</td>
                </tr>
            }
        </tbody>
    </table>
}
