@page "/apps"
@inherits TgPageComponentEnumerable<TgEfAppEntity>

<PageTitle>@TgLocale.MenuMainApps</PageTitle>

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenStack>
	    <RadzenRow AlignItems="AlignItems.Center">
		    <RadzenColumn Size="12" SizeMD="6">
			    <RadzenText Text="@TgLocale.MenuMainApps" TextStyle="TextStyle.H4" TagName="TagName.H1" style="margin: 0" />
		    </RadzenColumn>
	    @* 
		    <RadzenColumn Size="12" SizeMD="6">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                    <RadzenSplitButton Icon="get_app" Text="Export" Click="@ExportClick" Variant="Variant.Flat" Shade="Shade.Lighter">
                        <RadzenSplitButtonItem Text="Excel" Value="xlsx" />
                        <RadzenSplitButtonItem Text="CSV" Value="csv" />
                    </RadzenSplitButton>
                    <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
                </RadzenStack> 
		    </RadzenColumn>
        *@
        </RadzenRow>
	    <RadzenRow>
		    <RadzenLabel Text="@ItemsSummaryString"></RadzenLabel>
	    </RadzenRow>
        @* <RadzenTextBox Placeholder="Search ..." style="display: block; width: 100%" @oninput="@SearchString" /> *@
        @* 
            
	            <RadzenDataGrid @ref="Grid" ColumnWidth="200px"
                    Data="@Items" TItem="TgEfAppEntity" LoadData="@GridLoadData" Count="@ItemsCount" 
					AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true"
                    ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                    RowDoubleClick="@EditRow"
		>
		*@
        <RadzenRow>
            <RadzenColumn SizeMD=12>
	            <RadzenDataGrid @ref="Grid" ColumnWidth="200px"
                    Data="@Items" TItem="TgEfAppEntity" LoadData="@GridLoadData" Count="@ItemsCount" >
                    <Columns>
                        <RadzenDataGridColumn TItem="TgEfAppEntity" Property=@nameof(TgEfAppEntity.ApiHash) Title="@TgLocale.MenuClientApiHash" />
                        <RadzenDataGridColumn TItem="TgEfAppEntity" Property=@nameof(TgEfAppEntity.ApiId) Title="@TgLocale.MenuClientApiId" />
                        <RadzenDataGridColumn TItem="TgEfAppEntity" Property=@nameof(TgEfAppEntity.PhoneNumber) Title="@TgLocale.MenuClientPhoneNumber" />
                        <RadzenDataGridColumn TItem="TgEfAppEntity" Property="Proxy.HostName" Title="@TgLocale.MenuClientProxy" />
                        @* <RadzenDataGridColumn TItem="TgEfAppEntity" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                            <Template Context="app">
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                              Shade="Shade.Lighter" Variant="Variant.Flat"
                                              Click=@(args => GridDeleteButtonClick(args, app)) @onclick:stopPropagation="true" />
                            </Template>
                        </RadzenDataGridColumn> *@
                    </Columns>
                </RadzenDataGrid>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
}