@inherits TgPageComponentBase

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@TgConstants.AppTitleBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
	        <NavLink class="nav-link" href="Client">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>@TgLocale.MenuMainConnection
	        </NavLink>
        </div>
        <div class="nav-item px-3">
	        <NavLink class="nav-link" href="Filters">
		        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>@TgLocale.MenuMainFilters
	        </NavLink>
        </div>
        <div class="nav-item px-3">
	        <NavLink class="nav-link" href="Proxies">
		        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>@TgLocale.MenuMainProxies
	        </NavLink>
        </div>
        <div class="nav-item px-3">
	        <NavLink class="nav-link" href="Sources">
		        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>@TgLocale.MenuMainSources
	        </NavLink>
        </div>
        <div class="nav-item px-3">
	        <NavLink class="nav-link" href="Versions">
		        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>@TgLocale.MenuMainVersions
	        </NavLink>
        </div>

    </nav>
</div>
